.categories__slider .categories__slider-area-item {
  position: relative;
  margin-top: 2rem;

  & .categories__slider-area-image {
    position: relative;
  }

  & .categories__slider-slider-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
      rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
      rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
      rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
      rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
      rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  }
  & .categories__slider-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.33);
    color: white;
    text-align: center;
    font-size: 1rem;
    border-radius: 0 0 8px 8px;
  }

  & .categories__slider-area-name {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0;
  }
}
