.meal__spec {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  & .meal__spec-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Tablets  */
@media only screen and (max-width: 768px) {
  .meal__spec .meal__spec-container {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 414px) {
  .meal__spec,
  .meal__spec-container {
    flex-direction: column;
    margin-top: 2rem;
  }
}
