.recipe__list {
  margin-top: 1rem;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .recipe__list-result {
    width: 80%;
  }
}
